*,
*::before,
*::after {
  box-sizing: border-box;
}

.cal-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: #d3d3d3;
  font-size: 20px;
  width: 40%;
}

.workspace {
  grid-column: 1/5;
  text-align: end;
  background-color: rgb(107, 105, 104);
  color: #fff;
}

button {
  height: 50px;
  border: solid 0.25px #fff;
}

.zero {
  grid-column: 1/3;
}

.operator {
  background-color: rgb(235, 110, 38);
}

/* Styling Header */
header {
  height: 60px;
  width: 100vw;
  position: fixed;
  background: rgb(231, 14, 7);
  margin-top: 0;
  margin-left: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  background: rgb(141, 94, 128);
  height: 100vh;
}

.homeContainer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: rgb(237, 202, 227);
  height: 100vh;
}

.calculatorContainer h2 {
  font-size: 18px;
  font-weight: bold;
}

.QuoteContainer {
  background: rgb(209, 204, 204);
  height: 100vh;
  margin-top: -20px;
}

.QuoteContainer h2 {
  margin-top: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 100;
}